<br>
<form>
  <div class=row >
    <div class="col-md-8">
      <div class="col-md-2">
      <label for="workspace">workspace</label>
      </div>
        <div class="col-md-8">
      <input type="text" id="workspace" placeholder="Nama Workspace"  value={{w_name}}>
       <br> <br>
      </div>
  </div>
  <br>

    <div class="col-md-8">
        <div class="col-md-4">
          <label for="number">Number of Users</label>
        </div>
        <div class="col-md-6">
          <input type="text" class="number" id="numberofusers" value={{max_users}} >
          <label for="number">Users</label>
        </div>
    </div>
  <div class="col-md-8">
        <div class="col-md-4">
          <label for="number">Number of Topic</label>
         </div>
        <div class="col-md-6">
          <input type="text" class="number" id="numberoftopic" value={{max_topics}}>
          <label for="number">Topics</label>
        </div>
  </div>
  
  <div class="col-md-8">
        <div class="col-md-4">
          <label for="number">Number of Twitter Account</label>
        </div>
        <div class="col-md-6">
          <input type="text" class="number" id="numberoftwitteraccount" value={{max_twit}}>
          <label for="number">Accounts</label>
        </div>
  </div>
<div class="col-md-8">
        <div class="col-md-4">
          <label for="number">Number of Facebook Account</label>
        </div>
        <div class="col-md-6">
          <input type="text" class="number" id="numberoffacebookaccount" value={{max_fb}}>
          <label for="number">Accounts</label>
        </div>
</div>
<div class="col-md-8">
        <div class="col-md-4">
          <label for="number">Number of Additional Blog</label>
        </div>
        <div class="col-md-6">
          <input type="text" class="number" id="numberofadditionalblog" value={{max_blogs}}>
          <label for="number">Blogs</label>
        </div>
</div>
<div class="col-md-8">
        <div class="col-md-4">
          <label for="number">Number of Additional Websites</label>
        </div>
        <div class="col-md-6">
          <input type="text" class="number" id="numberofadditionalwebsites" value={{max_webs}}>
          <label for="number">Websites</label>
        </div>        
</div>
<div class="col-md-8">
        <div class="col-md-4">
          <label for="number">Number of Additional Forum</label>
        </div>
        <div class="col-md-6">
          <input type="text" class="number" id="numberofadditionalforum" value={{max_forums}}>
          <label for="number">Forums</label>
        </div>        
</div>
<div class="col-md-8">
        <div class="col-md-4">
          <label for="number">Number of Dependencies</label>
        </div>
        <div class="col-md-6">
          <input type="text" class="number" id="numberofdependencies" value={{max_comparison}}>
          <label for="number">Dependencies</label>
        </div>        
</div>
<div class="col-md-8">
        <div class="col-md-4">
          <label for="number">Number of Dependencies Twitter</label>
        </div>
        <div class="col-md-6">
          <input type="text" class="number" id="numberofdependenciestwitter" value={{max_comparison_twit}}>
          <label for="number">Dependencies</label>
        </div>        
</div>
<div class="col-md-8">
        <div class="col-md-4">
          <label for="number">Number of Dependencies facebook</label>
        </div>
        <div class="col-md-6">
          <input type="text" class="number" id="numberofdependenciesfacebook" value={{max_comparison_fb}}>
          <label for="number">Dependencies</label>
        </div>        
</div>
   </div>
</form>
